body {
    height: 100vh;
    overflow: auto;
}

#page {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

footer {
    background-color: var(--secondary);
    color: var(--secondaryR);
}

nav {
    background-color: var(--secondary);
    max-height: 100vh;
    overflow-y: auto;
}
a:hover{
    text-decoration: none;
}

.nav-container {
    height: 4rem;
}

@media only screen and (min-width: 30rem) {
    .nav-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .breadcrumb-show {
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 30rem) {
    .footer-row-section {
        flex: 1 1 auto !important;
        border-bottom: 1px solid var(--secondaryR);
    }
    .footer-row {
        flex-direction: column !important;
    }
    .footer-container {
        padding: 0.8rem!important;
    }
    .footer-link {
        margin-left: 0.5rem;
    }
    .footer-link-social {
        margin-left: 0.5rem;
    }
}

.nav-logo {
    height: 100%;
    width:15rem;
}

.nav-logo>img {
    max-height: 100%;
    padding: 0.5rem;
    width: auto; 
    height: -webkit-fill-available;
    height: fit-content;
    max-width: 15rem;
}

.nav-links {
    margin-left: auto;
    color: var(--secondaryR);
}

.nav-links-btn {
    font-size: 1rem;
    font-family: var(--actionFont);
    padding-right: 1rem;
    padding-left: 1rem;
    color:var(--secondaryR);
    align-items: center;
    display: flex;
}

.nav-expand-links-btn {
    font-size: 1rem;
    font-family: var(--actionFont);
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: nowrap;
    color:var(--primaryR);
}

.nav-expand-links-sub-btn {
    font-size: 1rem;
    font-family: var(--actionFont);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: nowrap;
    color:var(--secondaryR);
}

.nav-expand-sub-container {
    background-color: var(--secondary);
    color: var(--secondaryR);
    transition: height 0.2s;
    overflow: hidden;
    flex-shrink: 0;
    overflow-x: hidden;
}

.nav-collapse {
    transition: height 0.2s;
    background-color: var(--primary);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.nav-group-icon {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    width: 1rem;
}

.nav-sub {
    border-top: 0.0625rem solid var(--primaryR) !important;
}

.nav-sub-button {
    padding: 0.5rem 1rem;
    font-family: var(--actionFont);
    display: inline-block;
    color:var(--secondaryR);
}

.breadcrumb-hide {
    height: 0.0625rem;
    width: 100%;
    background-color: var(--primaryR);
}

.breadcrumb-show {
    height: 3rem;
    width: 100%;
    background-color: var(--highlight);
    color: var(--highlightR);
    white-space: nowrap;
}

.breadcrumb-show-trail-btn {
    font-size: 1rem;
    font-family: var(--actionFont);
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    display: flex;
    color:var(--highlightR);
}

.breadcrumb-show-chevron-container {
    width: 0.5rem;
    max-width: 0.5rem;
}

.highlight-bg {
    background-color: var(--highlight);
    color: var(--highlightR)
}

.footer-container {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.footer-logo {
    height: 3rem;
    width: auto;
}

.footer-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.footer-row-section {
    flex: 0 1 50rem;
    margin-right: 1rem;
}

.footer-link {
    font-size: 0.9rem;
    font-family: var(--actionFont);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: auto;
    color:var(--secondaryR);
}

.footer-link-social {
    font-size: 0.9rem;
    font-family: var(--actionFont);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: auto;
    color:var(--secondaryR);
}

.footer-cr {
    font-size: 0.9rem;
    opacity: 0.5;
}

/* fonts */

.f-title {
    font-family: var(--titleFont);
}

.f-text {
    font-family: var(--textFont);
}

.f-action {
    font-family: var(--actionFont);
}

/* utility */

.fc-p {
    color: var(--primary);
}

.fc-s {
    color: var(--secondary);
}

.fc-h {
    color: var(--highlight);
}

.fs-08 {
    font-size: 0.8rem;
}

.fs-09 {
    font-size: 0.9rem;
}

.op-05 {
    opacity: 0.5;
}

.pos-r{
    position:relative;
}
.pos-f{
    position: fixed;
}
.pos-a{
    position: absolute;
}

#fontRef {
    font-size: 1rem !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--titleFont);
}

p {
    font-family: var(--textFont);
    line-height: 1.7 !important;
}

button {
    font-family: var(--actionFont);
}

a {
    font-family: var(--actionFont);
}

/* animation */

@keyframes Spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: Spin 2s infinite linear;
}