body {
    width:100vw;
    height:100vh;
    overflow:auto;
}
#app{
    width:100%;
}

header{
    position: fixed;
    width: 100%;
}
nav{
    height:4rem;
    border-bottom: 1px solid #cfcfcf;
}
.nav-logo{
    height:100%;
}
.nav-logo>img{
    max-height: 100%;
    padding: 0.5rem;
    width: auto;
    height: fit-content;
    padding-left:1.5rem;
}
.nav-links{
    margin-right:1.5rem;
    margin-left:auto;
}